@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
#bg {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    background-image: url(https://c.wallhere.com/photos/ac/fa/digital_art_artwork_illustration_pixel_art_pixels_pixelated_landscape_nature-1853291.jpg!d);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    object-fit: cover;
}
.main {
    z-index: 2;
    position: relative;
    width: 450px;
    height: 720px;
    padding-bottom: 5px;
    background-color: #ffffffa4;
    border-radius: 25px;
    margin-top: 5px;
    -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 74%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 74%);
    
    margin: 20px auto;
}

#cover {
    position: relative;
    height: 35%;
    width: 100%;
    background-image: url(https://freenice.net/wp-content/uploads/2021/09/hinh-anh-gif-dan-cuu-vui-nhon.gif);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
#avatar {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: 5px solid #1877f2;
    -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 74%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 74%);
    object-fit: cover;
}
#avatar img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    border: 2px solid #fff;
}

#name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Lobster";
}
#name i {
    color: #1877f2;
    font-size: 25px;
}
#bio {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 16px;
}
.border {
    position: relative;
    width: 50%;
    height: 2px;
    /* background-color: rgb(138,138,138); */
}
#contact-text {
    display: inline-block;
    padding: 2px 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    background: rgb(45,136,255);
    background: rgb(45,136,255);
    background: -moz-linear-gradient(127deg,rgba(45,136,255,1) 0%,rgba(131,186,255,1) 100%);
    background: -webkit-linear-gradient(127deg,rgba(45,136,255,1) 0%,rgba(131,186,255,1) 100%);
    background: linear-gradient(127deg,rgba(45,136,255,1) 0%,rgba(131,186,255,1) 100%);
    font-family: "Lobster";
    transition: all 250ms;
    cursor: default;
}
#contact-text:hover {
    transform: scale(1.2);
    padding: 2px 55px;
}
#boxs {
    margin-top: 3px;
}
.facebook {
    background: #3a5795;
    color: #1c3977;
    background: linear-gradient(to bottom,#3a5795 0%,#2b4886 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3a5795),color-stop(100%,#2b4886));
    background: -webkit-linear-gradient(top,#3a5795 0%,#2b4886 100%);
    background: -moz-linear-gradient(top,#3a5795 0%,#2b4886 100%);
    background: -o-linear-gradient(top,#3a5795 0%,#2b4886 100%);
    background: -ms-linear-gradient(top,#3a5795 0%,#2b4886 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A5795',endColorstr='#2B4886',GradientType=0);
    border: 1px solid #1c3977;
    text-shadow: 0 1px 0 #4966a4;
    -webkit-text-shadow: 0 1px 0 #4966a4;
    -moz-text-shadow: 0 1px 0 #4966a4;
    box-shadow: inset 0 1px 0 #4966a4;
    -webkit-box-shadow: inset 0 1px 0 #4966a4;
    -moz-box-shadow: inset 0 1px 0 #4966a4;
}
.box {
    height: 50px;
    width: 75%;
    margin: 5px auto;
    border-radius: 20px;
    background: rgb(42,100,173);
    background: -moz-linear-gradient(127deg,rgba(42,100,173,1) 0%,rgba(45,136,255,1) 100%);
    background: -webkit-linear-gradient(127deg,rgba(42,100,173,1) 0%,rgba(45,136,255,1) 100%);
    background: linear-gradient(127deg,rgba(42,100,173,1) 0%,rgba(45,136,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a64ad",endColorstr="#2d88ff",GradientType=1);
    -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 74%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 74%);
    z-index: 1;
    transition: all 250ms;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.icon {
    display: inline;
    position: relative;
    height: 50px;
    width: 50px;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.icon i {
    font-size: 30px;
    margin: 10px 20px;
    color: #ffffff;
    transition: transform 250ms;
    z-index: 2;
}
.icon i:hover {
    transform: rotate(180deg);
}
.col-10 {
    position: relative;
    max-height: 100%;
    flex: 0 0 auto;
    width: 83.33333333%;
}
#a{
    text-decoration: none;
}
.detail {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    font-family: "Roboto";
}

.linked {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    top: -40px;
    z-index: -2;
    filter: opacity(0);
    transition: all 1000ms;
    font-family: "Roboto";
}
.messenger {
    background: #fc466b;
    background: -webkit-linear-gradient(to right,#3f5efb,#fc466b);
    background: linear-gradient(to right,#3f5efb,#fc466b);
}
.zalo {
    background: #0064f7;
    background: linear-gradient(127deg,#0064f7 0%,#2a7fff 100%);
}
.zalo-icon {
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/zalo.png);
}
.div-logo {
    position: relative;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
    z-index: 5;
    transition: all 250ms;
}
.phone {
    background: #1f1c2c;
    background: -webkit-linear-gradient(to right,#1f1c2c,#928dab);
    background: linear-gradient(to right,#1f1c2c,#928dab);
}
.vietcombank {
    background: #006c46;
    background: linear-gradient(127deg,#006c46 0%,#77bc41 100%);
}
#img1{
    height:50px;
    width: 50px;
    padding-left: 15px;
    padding-top: 2px;
    border-radius: 50%;
    object-fit: cover;
}







